body {}

.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signup .form-signup-heading, .form-signin .checkbox, .form-signup .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox, .form-signup .checkbox {
    font-weight: normal;
}

.form-signin .form-control, .form-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus, .form-signup .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"], .form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"], .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .btn, .form-signup .btn {
    margin-bottom: 10px;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

ul.ulFechas {
    text-align: justify;
}
ul.ulFechas:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul.ulFechas:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
li.liFechas {
    background-color: #0275d8;
    color: #fff;
    display: inline-block;
    font: 1em/1.5 sans-serif;
    margin-right: -.25em;
    padding: .75em 1.5em;
    position: relative;
    top: 1.25em;
    cursor:default;
}
li.liFechasSelected {
    background-color: #777;
    color: #fff;
    display: inline-block;
    font: 1em/1.5 sans-serif;
    margin-right: -.25em;
    padding: .75em 1.5em;
    position: relative;
    top: 1.25em;
    cursor:default;
}
li.liFechas:hover {
    background-color: #025aa5;
    color: #fff;
    display: inline-block;
    font: 1em/1.5 sans-serif;
    margin-right: -.25em;
    padding: .75em 1.5em;
    position: relative;
    top: 1.25em;
}